# Project Environment Configuration
FRAPPE_VERSION=version-16
ERPNEXT_VERSION=version-16
MYSQL_ROOT_PASSWORD=school_admin_secret_2026
DB_NAME=school_vidyuth
SITE_NAME=school.localhost
ADMIN_PASSWORD=admin
PORT=8000
FRONTEND_PORT=3000
